

/* Slider container */
.continuous-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  margin-bottom: 10px;
}
.slider-track {
  display: flex;
  width: calc(200%); /* Adjust for duplicated images */
  animation: scroll 35s linear infinite;
  gap: 6px; /* Increased gap slightly for spacing */
  align-items: center; /* Ensure images stay aligned properly */
}

.slider-image {
  margin-top: 90px; /* Adjust the margin as needed */
  width: 1250px; /* Increased width for bigger images */
  height: 300px; /* Increased height */
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 8px; /* Slightly rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Slight shadow for depth */
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-130%); /* Full width scroll */
  }
}

